body {
	background:#eee;
	color:#222;
	font-family: Verdana, sans-serif;
	margin:0;
}

h1,h2,h3,h4,h5{margin: 0;}

h1{
	font-size: 38px;
	line-height: 90%;
	margin-bottom: 20px;
}
	h1 small{
		font-weight: normal;
		font-size: 25px
	}

h2{
	font-weight: normal;
	margin: 5px 0 10px 0;
}

td,th{
	border: 1px solid #222;
	padding: 3px;
}

p{
	font-size: 16px;
}

ul,ol,p.explicacion{
	margin-left: 20px;
}

span.rendimiento_potencial {font-weight:normal;}

.container{
	background:#f5f5f5;
	border:1px solid #ccc;
	-moz-box-shadow: 0px 0px 10px #bbb;
	-webkit-box-shadow: 0px 0px 10px #bbb;
	box-shadow: 0px 0px 10px #bbb;
	position:relative;
	margin:0 auto;
	width:1100px;
	padding:50px; /*ancho total 1200px*/
	overflow:hidden;
}

.libro .izquierda, .libro .derecha{
	width: 525px;
	float:left;
}
.libro .izquierda{margin-right: 50px;}

.tres_columnas .primera,.tres_columnas .segunda,.tres_columnas .tercera{
	width: 332px;
	float:left;	
}
.tres_columnas .primera,.tres_columnas .tercera{margin-right: 52px}

.page_links{clear: both;}

.page_links a{
	float:right;
	padding: 10px 30px;
	font-size: 20px;
	background:#d4aa00;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:white;
	text-shadow: 1px 1px 0 #b49000;
	text-decoration: none;
	font-weight: normal;
}

	.page_links a.prev{
		float:left;
		background:#bbb;
		text-shadow: 1px 1px 0 #aaa;
	}



.ultrarresumen{
	padding: 50px 50px 20px 50px;
	font-size: 50px;
	color:#0099d4;
	text-align: center;
}
	.ultrarresumen small{ 
		display: block;
		font-size: 25px;
	}