body {padding-top: 70px}

h2,h3{
	font-weight: normal;
	font-style: italic;
}


#menu{
	margin-top: 20px;
}

.navbar{font-size: 14px}

.hero{
	padding-bottom:40px;
}

.nav-stacked .nav-header{
	padding:0;
}

.blank{height: 100px}
.miniblank{height: 20px}

.fondimagen{background-color: #f5f4f0}

.centered{position: center;}

.verde{background-color: #dff0d8}
.azul{background-color: #d9edf7}
.amarillo{background-color: #fcf8e3}
.rojo{background-color: #f2dede}
.gris{background-color: #cccdc8}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #cccdc8;
  border: 1px solid #999999;
  border-bottom-color: #999999;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #f5f4f0;
  border-bottom: 1px solid #cccdc8;
}

.flex-video {
position: relative;
padding-top: 25px;
padding-bottom: 67.5%;
height: 0;
margin-bottom: 16px;
overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.flex-video { padding-top: 0; }
}

