h2,h3{
	font-weight: normal;
	font-style: italic;
}


#menu{
	margin-top: 20px;
}
	.navbar{font-size: 14px}

.hero{
	padding-bottom:40px;
}

.nav-stacked .nav-header{
	padding:0;
}

.blank{height: 300px}