h2,h3{font-weight: normal;}
ul{list-style: none;}

h5{color: #526171}

.hblu{color: #66788b}

body,
input,
button,
select,
textarea,
.navbar-search .search-query {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#menu{margin-top: 20px;}

.navbar{font-size: 14px}
.intro{height: 570;background-color: #F2F7FA}
.features1{height: 570;background-color: #ffffff}
.empresaconsum{color: #66788b}

.blank{height: 100px}
.presen1{text-align: center;font-size: 100%;line-height: 1}
.presen2{text-align: center;font-size: 22;line-height: 1;color: #66788b}

.surveys {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}
.surveys:before,
.surveys:after {
  display: table;
  content: "";
  line-height: 0;
}
.surveys:after {
  clear: both;
}
.row-fluid .surveys {
  margin-left: 0;
}
.surveys > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;

.survey{}

.survey{
	border-style:solid; border-radius: 1px; border-color: #0088cc;
}

.survey> img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.survey.caption {
  padding: 9px;
  color: #555555;
}




.hero{ padding-bottom:40px;}

.nav-stacked .nav-header{padding:0;}

.siguiente {overflow: hidden; margin-top: 40px;}





#boton_envio{
	font-size: 30px;
	font-weight: bold;
	padding: 10px 40px;
	display: block;
	margin: 0 auto;
	border:none;
	cursor:pointer;
	background:#0099d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:white;
	text-shadow: 1px 1px 0 #007dae;
	text-decoration: none;
	font-weight: normal;
}
	#boton_envio:hover{background:#00b1f4;}
