h2,h3{font-weight: normal;font-style: italic;}
ul{list-style: none;}

#menu{margin-top: 20px;}

.navbar{font-size: 14px}

.menu_lateral{font-size: 14px;}	
.menu_lateral li a i {float: right;}
.menu_lateral li.active a{color:white; background:#08C;}

.hero{ padding-bottom:40px;}

.nav-stacked .nav-header{padding:0;}

.siguiente {overflow: hidden; margin-top: 40px;}

table th{font-weight: normal; font-style: italic;}
table td,table th{text-align: center;border-bottom: 1px solid #aaa;}
table tr.suma td,table tr.suma th{background:#aaa;}
table tr.promedio td,table tr.promedio th{background:#0099d4;color:white;}


.marco_del_ejemplo{overflow: hidden;}
.marco_del_ejemplo .datos, .marco_del_ejemplo .formulas{float:left;}
.marco_del_ejemplo .datos{width:260px; margin: 0px 50px;}
.marco_del_ejemplo .formulas{width:440px;margin: 0px 20px;}

.rango{padding: 20px; text-align: center; font-size: 24px;}

.cuenta{margin:0 auto;}
.cuenta .nombre, .cuenta .igual, .cuenta .fraccion, .cuenta .resultado{float:left;}
.cuenta .nombre, .cuenta .igual, .cuenta .resultado{line-height: 60px; vertical-align: center;}
.cuenta .nombre{width: 145px; text-align: right;}
.cuenta .igual{width: 25px; text-align: center;}
.cuenta .fraccion{width:200px;}
.cuenta .resultado{width:40px;}

.dividendo,.divisor{display: block; text-align: center; line-height: 28px}
.dividendo{border-bottom: 2px solid #888;padding-bottom: 5px;}
.divisor{padding-top: 5px;	line-height: 30px}
.resultado{float:left;height: 77px;line-height: 77px;font-weight: bold;}

table.datos td.sumandos{background:#BEE5F7;}


/* Media queries */
@media  (min-width: 980px) and (max-width: 1200px) {  
	.marco_del_ejemplo .datos{margin: 0px;}
	.marco_del_ejemplo .formulas{width:420px;margin: 0px 0px 0px 20px;}
	.cuenta .fraccion{width:180px;}
}
 
@media (min-width: 768px) and (max-width: 979px) {  
	.marco_del_ejemplo .datos{margin: 0px;}
	.marco_del_ejemplo .formulas{width:250px;margin: 0px 0px 0px 20px;}	
	.cuenta .fraccion{width:180px;}
	.cuenta .nombre{ display: block;}
}
 
@media (max-width: 767px) { 
	.affix{display: none}
}